/*----fuentes----*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*--- global Css--*/
:root{
    --funte:#e5e5e5;
    --white:#ffffff;
    --darkblue100:#609ed4;
    --darkblue200:#356ea9;
    --darkblue300:#0a3871;
    --darkblue400:#072b61;
    --darkblue500:#052051;
    --lightblue:#D8DFE8;
    --lightblue100:#f3f5fc;
    --lightblue200:#eff1fa;
    --lightblue300:#e9ecf8;
    --lightblue400:#aab2d5;
    --lightblue500:#757fb2;
    --gray:#c5c5c5;
    --gray100:#ced4da;
    --gray200:#adb5bd;
    --gray300:#868e96;
    --gray400:#495057;
    --gray500:#343a40;
    --RGBA:rgba(0,0,0,0.08);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
    text-decoration: none;
    background: var(--white);
}

::selection{
    background-color: var(--darkblue300);
    color: var(--white);
}

body{
    height: 100%;
}

img{
    max-width: 100%;
}

/*--------Encabezado------*/

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/*-----Principal----*/

main{
    display: flex;
    flex-direction: row;
    background: url(../img/portada.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptador-text-area{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 15px;
    resize: none;
    /*text-transform: lowercase;*/
}

.encriptador-text-area::placeholder ,:focus{
    color: var(--darkblue300);
}

.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.aviso-mensaje{
    width: 100%;
    font-weight:400;
    font-style: normal;
    font-size: 18px;
    opacity: 0.8;
    line-height: 150%;
    color: var(--gray400);
}

.encritador-botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 540px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    text-align: center;
    color: var(--white);
    background: var(--darkblue300);
    border: 1px solid var(--darkblue300);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-encriptar:active{
    box-shadow: inset 2px 2px 4px var(--funte),
    inset -3px -4px 8px var(--darkblue300);
    color: var(--lightblue);
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto ;
    text-align: center;
    color: var(--darkblue300);
    background: var(--lightblue);
    border: 1px solid var(--darkblue300);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
}

.btn-copiar:active,
.btn-desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--darkblue300),
    inset -3px -4px 8px var(--lightblue);
    color: var(--darkblue500) 
}

.mensaje {
    width: 270px;
    height: 580px;
    background: var(--white);
    box-shadow: 10px 24px 32px -8px var(--gray500);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.mensaje-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--white);
}

.mensanje-muñeco{
    background: var(--white);  
}

.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--gray500);
    background: var(--white);
}

.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--gray400);
    background: var(--white);
}

.mensaje-text-area{
    width: 100%;
    height: 480px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--gray400);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;    
}

.mensaje-text-area:focus{
    outline: none;
}

.btn-copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--darkblue500);
    background: var(--lightblue);
    border-radius: 20px;
    cursor: pointer;
}

.btn-copiar:hover, 
.btn-desencriptar:hover,
.btn-encriptar:hover{
    transform: scale(0.97);
}


/*----pie de pagina---*/

footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--funte);
    color:  var(--gray500);
    text-align: center;
    height: 5px;
    font-size: 20px;   
    font-weight: 700;
}

.linkedin:hover,
.github:hover{
    color: var(--funte);
    opacity: 0.6 ;
}

/*-----Media---*/

@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encritador-botones{
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }

    .mensaje{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .mensaje-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }
    
    .mensanje-muñeco{
        display: none;
    }
    .btn-copiar{
        position: inherit;
        width: 100%;
    }

    .mensaje-text-area{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}

@media(max-width: 720px){
    header .logo{
        width: 100%;
        background: transparent;
        padding: 2px;
    } 
    .encriptador-text-area {
        width: 90%;
        font-size: 24px;
    }
    
    .encritador-botones{
        display: grid;
        gap: 21px;
    }
    
    .mensaje{
        width: 90%;
    }

    .copyrigth{
        font-size: 20px;
    }
}
